/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.list-view {
    -fx-padding: 5px;
    -fx-background-color: darkred;
}
.list-cell:filled:selected:focused, .list-cell:filled:selected {
	-fx-background-color: #F3F3F3;
	-fx-background-insets:  0;
	-fx-text-fill: #303333;
}

.list-cell:empty{
	-fx-padding: 5px ;
	visibility:hidden;
}

.list-cell:odd { -fx-background-color: #ffffff; /* 1 */ }
.list-cell:even { -fx-background-color: #ffffff; /* for information */ }
.list-cell:filled:hover { 
    -fx-background-color: #F3F3F3; 
    -fx-text-fill: #303333;
}