/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.list-view {
    -fx-padding: 3px;
    -fx-background-color: darkred;
}

.list-cell { 
	-fx-text-fill: #303333; 
	-fx-font-size: 14pt; 
	-fx-padding: 3px ; 
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
	-fx-background-color: #fff;
	-fx-background-insets:  0;
	-fx-text-fill: #303333;
}

.list-cell:empty{
	-fx-padding: 2px ;
	visibility:hidden;
}

.list-cell:odd { -fx-background-color: #f3f3f3; /* 1 */ }
.list-cell:even { -fx-background-color: #f3f3f3; /* for information */ }
.list-cell:filled:hover { 
    -fx-background-color: #FAFAFA; 
    -fx-text-fill: #303333;
}
